In [38]:
import pandas as pd
from nltk.tokenize import regexp_tokenize, word_tokenize, TweetTokenizer
from collections import Counter
from datetime import datetime
import numpy as np

In [27]:
df = pd.read_csv("Palestine-Israel_tweet5.csv")

In [28]:
df2 = df.drop(['Unnamed: 0','username','link'], axis=1)

In [29]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4775 entries, 0 to 4774
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   profile_id  4775 non-null   int64
 1   date        4775 non-null   object
 2   text        4775 non-null   object
 3   comments    4775 non-null   int64
 4   likes       4775 non-null   int64
 5   quotes      4775 non-null   int64
 6   retweets    4775 non-null   int64
dtypes: int64(5), object(2)
memory usage: 261.3+ KB

In [30]:
# Define the format of the input string
date_format = '%b %d, %Y ¬∑ %I:%M %p %Z'

# Convert string to datetime object
str_to_date = lambda u : datetime.strptime(u, date_format)

df2['date'] = df2['date'].apply(str_to_date)

In [35]:
df2

,profile_id,date,text,comments,likes,quotes,retweets
0,1712776952593924096,2023-10-16 04:35:00,The Difference‚ùó Between War Vs Genocide‚ùó #Isr...,3,5,0,1
1,1712776952593924096,2023-10-16 04:31:00,üáµüá∏üáÆüá±üö® Brave Palestinian lady documenting the o...,0,0,0,0
2,1712776952593924096,2023-10-16 04:31:00,A child from Palestine says what happened to h...,1,1,0,0
3,1712776952593924096,2023-10-16 04:30:00,"No, this devastation is not caused by the eart...",0,2,0,0
4,1712776952593924096,2023-10-16 04:30:00,BREAKING! Israeli warplanes have been continuo...,0,0,0,1
...,...,...,...,...,...,...,...
4770,1752382749153927168,2023-10-07 14:33:00,Such language from the U.K. government and oth...,608,11402,133,3209
4771,1714526492258975744,2023-10-07 13:53:00,President Mahmoud Abbas chairs an emergency le...,2,14,0,3
4772,1714526492258975744,2023-10-07 12:49:00,"Israeli warplanes attack #Gaza, according to l...",3,19,0,5
4773,1714526492258975744,2023-10-07 12:24:00,"Peace requires justice, freedom and independen...",0,5,0,0
4774,1714526492258975744,2023-10-07 12:24:00,The continuation of the injustice and oppressi...,1,4,0,0

In [42]:
df3 = df2.drop(['date','text'],axis=1)
df3['year']=df2['date'].dt.year
df3['month']=df2['date'].dt.month
df3['day']=df2['date'].dt.day

In [43]:
df3

               profile_id  comments  likes  quotes  retweets  year  month  day
0     1712776952593924096         3      5       0         1  2023     10   16
1     1712776952593924096         0      0       0         0  2023     10   16
2     1712776952593924096         1      1       0         0  2023     10   16
3     1712776952593924096         0      2       0         0  2023     10   16
4     1712776952593924096         0      0       0         1  2023     10   16
...                   ...       ...    ...     ...       ...   ...    ...  ...
4770  1752382749153927168       608  11402     133      3209  2023     10    7
4771  1714526492258975744         2     14       0         3  2023     10    7
4772  1714526492258975744         3     19       0         5  2023     10    7
4773  1714526492258975744         0      5       0         0  2023     10    7
4774  1714526492258975744         1      4       0         0  2023     10    7

[4775 rows x 8 columns]