In [98]:
import pandas as pd
from nltk.tokenize import regexp_tokenize, word_tokenize, TweetTokenizer
from collections import Counter
from datetime import datetime
import numpy as np

from sklearn.feature_extraction.text import CountVectorizer

In [99]:
df = pd.read_csv("Palestine-Israel_tweet5.csv")

In [100]:
df2 = df.drop(['Unnamed: 0','username','link'], axis=1)

In [101]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4775 entries, 0 to 4774
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   profile_id  4775 non-null   int64
 1   date        4775 non-null   object
 2   text        4775 non-null   object
 3   comments    4775 non-null   int64
 4   likes       4775 non-null   int64
 5   quotes      4775 non-null   int64
 6   retweets    4775 non-null   int64
dtypes: int64(5), object(2)
memory usage: 261.3+ KB

In [102]:
# Define the format of the input string
date_format = '%b %d, %Y ¬∑ %I:%M %p %Z'

# Convert string to datetime object
str_to_date = lambda u : datetime.strptime(u, date_format)

df2['date'] = df2['date'].apply(str_to_date)

In [103]:
df2

,profile_id,date,text,comments,likes,quotes,retweets
0,1712776952593924096,2023-10-16 04:35:00,The Difference‚ùó Between War Vs Genocide‚ùó #Isr...,3,5,0,1
1,1712776952593924096,2023-10-16 04:31:00,üáµüá∏üáÆüá±üö® Brave Palestinian lady documenting the o...,0,0,0,0
2,1712776952593924096,2023-10-16 04:31:00,A child from Palestine says what happened to h...,1,1,0,0
3,1712776952593924096,2023-10-16 04:30:00,"No, this devastation is not caused by the eart...",0,2,0,0
4,1712776952593924096,2023-10-16 04:30:00,BREAKING! Israeli warplanes have been continuo...,0,0,0,1
...,...,...,...,...,...,...,...
4770,1752382749153927168,2023-10-07 14:33:00,Such language from the U.K. government and oth...,608,11402,133,3209
4771,1714526492258975744,2023-10-07 13:53:00,President Mahmoud Abbas chairs an emergency le...,2,14,0,3
4772,1714526492258975744,2023-10-07 12:49:00,"Israeli warplanes attack #Gaza, according to l...",3,19,0,5
4773,1714526492258975744,2023-10-07 12:24:00,"Peace requires justice, freedom and independen...",0,5,0,0
4774,1714526492258975744,2023-10-07 12:24:00,The continuation of the injustice and oppressi...,1,4,0,0

In [104]:
df3 = df2.drop(['date','text'],axis=1)
df3['year']=df2['date'].dt.year
df3['month']=df2['date'].dt.month
df3['day']=df2['date'].dt.day

In [105]:
df3

               profile_id  comments  likes  quotes  retweets  year  month  day
0     1712776952593924096         3      5       0         1  2023     10   16
1     1712776952593924096         0      0       0         0  2023     10   16
2     1712776952593924096         1      1       0         0  2023     10   16
3     1712776952593924096         0      2       0         0  2023     10   16
4     1712776952593924096         0      0       0         1  2023     10   16
...                   ...       ...    ...     ...       ...   ...    ...  ...
4770  1752382749153927168       608  11402     133      3209  2023     10    7
4771  1714526492258975744         2     14       0         3  2023     10    7
4772  1714526492258975744         3     19       0         5  2023     10    7
4773  1714526492258975744         0      5       0         0  2023     10    7
4774  1714526492258975744         1      4       0         0  2023     10    7

[4775 rows x 8 columns]

In [106]:
df2["text"].values

array(['The Difference‚ùó Between War Vs Genocide‚ùó  #Israel has killed in 8 days 614 children  in #Gaza according to UN   Where #Russia killed 554 children in 596 days   The Difference of Rate‚ùó - Russia 0.9 per day - Israel 76.7 per day   #PalestineGenocide #IsrealPalestineconflict',
       'üáµüá∏üáÆüá±üö® Brave Palestinian lady documenting the ongoing war crimes committed by #Israel in #Gaza including the usage of white phosphorus .  #HamasTerrorist #hamas #IsraelPalestineConflict #GazzeUnderAttack #PalestineGenocide https://nitter.net/Sa91af/status/1713726867046326719/video/1',
       'A child from Palestine says what happened to him and his family, that the criminal Zionist entity killed them and he was beaten by them.  #GazzeUnderAttack #Isarael #palastine #PalestineGenocide #GazaCity https://nitter.net/H80583330/status/1713721430318133483/video/1',
       ...,
       'Israeli warplanes attack #Gaza, according to local sources #Palestine',
       'Peace requires justice, freedom and independence for our Palestinian people, the return of refugees, and the full implementation of international legitimacy resolutions [8/8]',
       'The continuation of the injustice and oppression to which the Palestinian people are exposed is the reason behind this explosive situation and the absence of peace and security in the region [7/8]'],
      dtype=object)

In [107]:
count = CountVectorizer(stop_words = 'english')

count_train = count.fit_transform(df2['text'].values)

count.get_feature_names_out()

array(['00', '000', '0000017f', ..., 'ùüêùüí', 'ùüïùê≠ùê°', 'ùüóùüó'], dtype=object)

In [108]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import nltk

nltk.download('stopwords')

from nltk.corpus import stopwords # import English stopwords
stopwords = set(stopwords.words('english'))

import re #used for Regular Expression 
import string
from collections import defaultdict

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\perso\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

<h1>Cleaning functions

In [109]:
# Remove all emojis, replace by EMOJI
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

test = "Oh non üòî je suis triste ..."
print(remove_emoji(test))

Oh non  je suis triste ...

In [110]:
# Remove @ and mention, replace by USER
def remove_mention(text):
    at=re.compile(r'@\S+')
    return at.sub(r'',text)

test = "Je mentionne @me ok"
print(remove_mention(test))

Je mentionne  ok

In [111]:
# Remove numbers, replace it by NUMBER
def remove_number(text):
    num = re.compile(r'[-+]?[.\d]*[\d]+[:,.\d]*')
    return num.sub(r'', text)

print(remove_number("13.5"))

In [112]:
# Remove all URLs, replace by URL
def remove_URL(text):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r'',text)

test = "Coucou, venez sur https://www.youtube.com/"
print(remove_URL(test))

Coucou, venez sur

In [113]:
# Factorize repeated punctuation, add REPEAT
def remove_repeat_punct(text):
    rep = re.compile(r'([!?.]){2,}')
    return rep.sub(r'\1', text)

print(remove_repeat_punct("!!!!"))

!

In [114]:
# Factorize elongated words, add ELONG
def remove_elongated_words(text):
    rep = re.compile(r'\b(\S*?)([a-z])\2{2,}\b')
    return rep.sub(r'\1\2', text)

print(remove_elongated_words("yessss"))

yes

In [115]:
# Remove words in capslock, add ALLCAPS
def remove_allcaps(text):
    caps = re.compile(r'([^a-z0-9()<>\'`\-]){2,}')
    return caps.sub(r'', text)

print(remove_allcaps("AAAAHH")) # Can't find how to keep the word in downcase ...

In [116]:
# Remove all english stopwords
def remove_stopwords(text):
    text = ' '.join([word for word in text.split() if word not in (stopwords)])
    return text

test = "i am an happy man "
print(remove_stopwords(test))

happy man

In [117]:
# Remove all punctuations
def remove_all_punct(text):
    table = str.maketrans('','',string.punctuation)
    return text.translate(table)

test = "Ceci est, un message ! avec de la . ponctuation " " random "
print(remove_all_punct(test))

Ceci est un message  avec de la  ponctuation  random

In [118]:
# Remove punctuations
def remove_punct(text):
    punctuations = '@#!?+&*[]-%.:/();$=><|{}^' + "'`" 
    for p in punctuations:
        text = text.replace(p, f' {p} ')

    text = text.replace('...', ' ... ')
    if '...' not in text:
        text = text.replace('..', ' ... ')   
    return text

In [119]:
# Remove non printable characters
def remove_not_ASCII(text):
    text = ''.join([word for word in text if word in string.printable])
    return text

In [120]:
# Clean text
def clean_tweet(text):
    
    # Remove non text
    text = remove_URL(text)
    text = remove_not_ASCII(text)
    
    # Lower text, replace abbreviations
    text = text.lower()
    text = remove_mention(text)
    text = remove_number(text)
    
    # Remove emojis / smileys
    text = remove_emoji(text)
    
    # Remove repeated puntuations / words
    text = remove_elongated_words(text)
    text = remove_repeat_punct(text)

    text = remove_all_punct(text)
    text = remove_punct(text)
    text = remove_stopwords(text)

    return text

In [121]:
df3['text'] = df2['text'].apply(clean_tweet)

In [122]:
#count = CountVectorizer(stop_words = 'english')

#count_train = count.fit_transform(test2.values)

#count.get_feature_names_out()

In [131]:
df3['text'][2500] #Cleaned text data_tweet

'want shani louk remembered never forget shani may memory blessing'