In [3]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns


from nltk.tokenize import regexp_tokenize, word_tokenize, TweetTokenizer
from collections import Counter
from datetime import datetime


from sklearn.feature_extraction.text import CountVectorizer

In [4]:
df = pd.read_csv("Palestine-Israel_tweet5.csv")

In [5]:
df2 = df.drop(['Unnamed: 0','username','link'], axis=1)

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4775 entries, 0 to 4774
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   profile_id  4775 non-null   int64
 1   date        4775 non-null   object
 2   text        4775 non-null   object
 3   comments    4775 non-null   int64
 4   likes       4775 non-null   int64
 5   quotes      4775 non-null   int64
 6   retweets    4775 non-null   int64
dtypes: int64(5), object(2)
memory usage: 261.3+ KB

In [7]:
# Define the format of the input string
date_format = '%b %d, %Y ¬∑ %I:%M %p %Z'

# Convert string to datetime object
str_to_date = lambda u : datetime.strptime(u, date_format)

df2['date'] = df2['date'].apply(str_to_date)

In [8]:
df2

,profile_id,date,text,comments,likes,quotes,retweets
0,1712776952593924096,2023-10-16 04:35:00,The Difference‚ùó Between War Vs Genocide‚ùó #Isr...,3,5,0,1
1,1712776952593924096,2023-10-16 04:31:00,üáµüá∏üáÆüá±üö® Brave Palestinian lady documenting the o...,0,0,0,0
2,1712776952593924096,2023-10-16 04:31:00,A child from Palestine says what happened to h...,1,1,0,0
3,1712776952593924096,2023-10-16 04:30:00,"No, this devastation is not caused by the eart...",0,2,0,0
4,1712776952593924096,2023-10-16 04:30:00,BREAKING! Israeli warplanes have been continuo...,0,0,0,1
...,...,...,...,...,...,...,...
4770,1752382749153927168,2023-10-07 14:33:00,Such language from the U.K. government and oth...,608,11402,133,3209
4771,1714526492258975744,2023-10-07 13:53:00,President Mahmoud Abbas chairs an emergency le...,2,14,0,3
4772,1714526492258975744,2023-10-07 12:49:00,"Israeli warplanes attack #Gaza, according to l...",3,19,0,5
4773,1714526492258975744,2023-10-07 12:24:00,"Peace requires justice, freedom and independen...",0,5,0,0
4774,1714526492258975744,2023-10-07 12:24:00,The continuation of the injustice and oppressi...,1,4,0,0

In [9]:
df3 = df2.drop(['date','text'],axis=1)
df3['year']=df2['date'].dt.year
df3['month']=df2['date'].dt.month
df3['day']=df2['date'].dt.day

In [10]:
df3

               profile_id  comments  likes  quotes  retweets  year  month  day
0     1712776952593924096         3      5       0         1  2023     10   16
1     1712776952593924096         0      0       0         0  2023     10   16
2     1712776952593924096         1      1       0         0  2023     10   16
3     1712776952593924096         0      2       0         0  2023     10   16
4     1712776952593924096         0      0       0         1  2023     10   16
...                   ...       ...    ...     ...       ...   ...    ...  ...
4770  1752382749153927168       608  11402     133      3209  2023     10    7
4771  1714526492258975744         2     14       0         3  2023     10    7
4772  1714526492258975744         3     19       0         5  2023     10    7
4773  1714526492258975744         0      5       0         0  2023     10    7
4774  1714526492258975744         1      4       0         0  2023     10    7

[4775 rows x 8 columns]

In [11]:
df2["text"].values

array(['The Difference‚ùó Between War Vs Genocide‚ùó  #Israel has killed in 8 days 614 children  in #Gaza according to UN   Where #Russia killed 554 children in 596 days   The Difference of Rate‚ùó - Russia 0.9 per day - Israel 76.7 per day   #PalestineGenocide #IsrealPalestineconflict',
       'üáµüá∏üáÆüá±üö® Brave Palestinian lady documenting the ongoing war crimes committed by #Israel in #Gaza including the usage of white phosphorus .  #HamasTerrorist #hamas #IsraelPalestineConflict #GazzeUnderAttack #PalestineGenocide https://nitter.net/Sa91af/status/1713726867046326719/video/1',
       'A child from Palestine says what happened to him and his family, that the criminal Zionist entity killed them and he was beaten by them.  #GazzeUnderAttack #Isarael #palastine #PalestineGenocide #GazaCity https://nitter.net/H80583330/status/1713721430318133483/video/1',
       ...,
       'Israeli warplanes attack #Gaza, according to local sources #Palestine',
       'Peace requires justice, freedom and independence for our Palestinian people, the return of refugees, and the full implementation of international legitimacy resolutions [8/8]',
       'The continuation of the injustice and oppression to which the Palestinian people are exposed is the reason behind this explosive situation and the absence of peace and security in the region [7/8]'],
      dtype=object)

In [12]:
count = CountVectorizer(stop_words = 'english')

count_train = count.fit_transform(df2['text'].values)

count.get_feature_names_out()

array(['00', '000', '0000017f', ..., 'ùüêùüí', 'ùüïùê≠ùê°', 'ùüóùüó'], dtype=object)

In [13]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import nltk

nltk.download('stopwords')

from nltk.corpus import stopwords # import English stopwords
stopwords = set(stopwords.words('english'))

import re #used for Regular Expression 
import string
from collections import defaultdict

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\tey12\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

<h1>Cleaning functions

In [14]:
# Remove all emojis, replace by EMOJI
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

test = "Oh non üòî je suis triste ..."
print(remove_emoji(test))

Oh non  je suis triste ...

In [15]:
# Remove @ and mention, replace by USER
def remove_mention(text):
    at=re.compile(r'@\S+')
    return at.sub(r'',text)

test = "Je mentionne @me ok"
print(remove_mention(test))

Je mentionne  ok

In [16]:
# Remove numbers, replace it by NUMBER
def remove_number(text):
    num = re.compile(r'[-+]?[.\d]*[\d]+[:,.\d]*')
    return num.sub(r'', text)

print(remove_number("13.5"))

In [17]:
# Remove all URLs, replace by URL
def remove_URL(text):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r'',text)

test = "Coucou, venez sur https://www.youtube.com/"
print(remove_URL(test))

Coucou, venez sur

In [18]:
# Factorize repeated punctuation, add REPEAT
def remove_repeat_punct(text):
    rep = re.compile(r'([!?.]){2,}')
    return rep.sub(r'\1', text)

print(remove_repeat_punct("!!!!"))

!

In [19]:
# Factorize elongated words, add ELONG
def remove_elongated_words(text):
    rep = re.compile(r'\b(\S*?)([a-z])\2{2,}\b')
    return rep.sub(r'\1\2', text)

print(remove_elongated_words("yessss"))

yes

In [20]:
# Remove words in capslock, add ALLCAPS
def remove_allcaps(text):
    caps = re.compile(r'([^a-z0-9()<>\'`\-]){2,}')
    return caps.sub(r'', text)

print(remove_allcaps("AAAAHH")) # Can't find how to keep the word in downcase ...

In [21]:
# Remove all english stopwords
def remove_stopwords(text):
    text = ' '.join([word for word in text.split() if word not in (stopwords)])
    return text

test = "i am an happy man "
print(remove_stopwords(test))

happy man

In [22]:
# Remove all punctuations
def remove_all_punct(text):
    table = str.maketrans('','',string.punctuation)
    return text.translate(table)

test = "Ceci est, un message ! avec de la . ponctuation " " random "
print(remove_all_punct(test))

Ceci est un message  avec de la  ponctuation  random

In [23]:
# Remove punctuations
def remove_punct(text):
    punctuations = '@#!?+&*[]-%.:/();$=><|{}^' + "'`" 
    for p in punctuations:
        text = text.replace(p, f' {p} ')

    text = text.replace('...', ' ... ')
    if '...' not in text:
        text = text.replace('..', ' ... ')   
    return text

In [24]:
# Remove non printable characters
def remove_not_ASCII(text):
    text = ''.join([word for word in text if word in string.printable])
    return text

In [34]:
stemmer = PorterStemmer()
# Clean text
def clean_tweet(text):
    
    # Remove non text
    text = remove_URL(text)      #remove links
    text = remove_not_ASCII(text)      #remove nonsense character
    
    # Lower text, replace abbreviations
    text = text.lower()          #replace all word to lower
    text = remove_mention(text)  #remove @--
    text = remove_number(text)   #remove numbers
    
    # Remove emojis / smileys
    text = remove_emoji(text) 
    
    # Remove repeated puntuations / words
    text = remove_elongated_words(text)    #revomve word repeated like HHHHHH
    text = remove_repeat_punct(text)       #remove repeated punctuation

    text = remove_all_punct(text)          #remove punctuation
    text = remove_punct(text)              #remove other punctuation
    text = remove_stopwords(text)          #remove basic words like (and,or,...)
    
    #Stemming or Lemmatization
    text = lemmatizing(text)               #replace words to simple (infinitif , singular, ...)
    #text = stemming(text)                  #remove last letters
    
    #My methode of lemmatization
    text =clean_lemma(text)

    return text

In [35]:
df3['text'] = df2['text'].apply(clean_tweet)
df3['text'][2500] #Cleaned text data_tweet

'want shani louk remembered never forget shani may memory blessing'

In [27]:
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\tey12\AppData\Roaming\nltk_data...
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\tey12\AppData\Roaming\nltk_data...

True

In [28]:
lemmatizer = WordNetLemmatizer()
def lemmatizing(text):
    data=text.split(' ')
    data2 = [lemmatizer.lemmatize(word) for word in data]
    text2=' '.join(data2)
    return text2

In [29]:
stemmer = PorterStemmer()
def stemming(text):
    data=text.split(' ')
    data2 = [stemmer.stem(word) for word in data]
    text2=' '.join(data2)
    return text2

In [ ]:
df3['text'] = df2['text'].apply(clean_tweet)

In [ ]:
!python -m spacy download en_core_web_md

In [30]:
words_model = ['israeli','israelis','lsrael','endisraelsgenocide','palestinian','palestinians','gazaunderattack']
model_language = {'israel':['israeli','israelis','lsrael','endisraelsgenocide'],
                  'palestine':['palestinian','palestinians'],
                 'gaza':['gazaunderattack']}
def clean_lemma(text):
    data = text.split(' ')
    n=len(data)
    i=0
    while i < n:
        if len(data[i])<=2:
            data.pop(i)
            n-=1
        elif data[i] in words_model:
            for key,value in model_language.items():
                if data[i] in value:
                    data[i]=key
                    i+=1
                    break
        else:
            i+=1
    text = ' '.join(data)
    return text

In [41]:
texts=''
for text in df3['text']:
    texts=texts+' '+text
test = texts.split(' ')
c=Counter(test)
L=c.most_common(200)

In [ ]:
import spacy
 
# Load the spaCy English model
nlp = spacy.load('en_core_web_md')
 
# Define a sample text
text = "The quick brown foxes are jumping over the lazy dogs."
 
# Process the text using spaCy
doc = nlp(text)
 
# Extract lemmatized tokens
lemmatized_tokens = [token.lemma_ for token in doc]
 
# Join the lemmatized tokens into a sentence
lemmatized_text = ' '.join(lemmatized_tokens)
 
# Print the original and lemmatized text
print("Original Text:", text)
print("Lemmatized Text:", lemmatized_text)

In [ ]:
import spacy

nlp = spacy.load('en_core_web_md')

def lemmatizing2(text):
    # Process the text using spaCy
    doc = nlp(text)

    # Extract lemmatized tokens
    lemmatized_tokens = [token.lemma_ for token in doc]

    # Join the lemmatized tokens into a sentence
    lemmatized_text = ' '.join(lemmatized_tokens)
    return lemmatized_text

In [ ]:
!pip install textblob

In [ ]:
from textblob import TextBlob

In [ ]:
def polarity(text):
    return TextBlob(text).sentiment.polarity

In [ ]:
df3['sentiment_polarity']=df3['text'].apply(polarity)

In [ ]:
def sentiment(label):
    if label <0:
        return "Negative"
    elif label ==0:
        return "Neutral"
    elif label>0:
        return "Positive"

In [ ]:
df3['sentiment']=df3['sentiment_polarity'].apply(sentiment)

In [ ]:
df3.info()

In [ ]:
df3.to_csv('Palestine-Israel_tweet6.csv')

In [ ]:
fig = plt.figure(figsize=(7,5))
sns.countplot(x="sentiment",data=df3)

In [ ]:
len('')

In [ ]:
count = CountVectorizer(stop_words = 'english')

count_train = count.fit_transform(df3['text'].values)

len(list(count.get_feature_names_out()))

In [ ]:
count_train.toarray()

In [37]:
df3['text'][2500] #Cleaned text data_tweet

'want shani louk remembered never forget shani may memory blessing'

In [39]:
def converttofeatures(df):
    for text in df['text']:
        tokenize_words = text.split()
        a=pd.get_dummies(tokenize_words)
    return a

In [40]:
converttofeatures(df3)

C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)

C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)

C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)
C:\Users\tey12\AppData\Local\Temp\ipykernel_22940\2982338490.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.get_dummies(tokenize_words)

,absence,behind,continuation,explosive,exposed,injustice,oppression,palestine,peace,people,reason,region,security,situation
0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,0,0,0,0
5,0,0,0,0,1,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,1,0,0,0
7,0,1,0,0,0,0,0,0,0,0,0,0,0,0
8,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,0,1
10,1,0,0,0,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,1,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,0,1,0
13,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [51]:
import pandas as pd

def create_feature_occurrence_table(comments, features):
    # Initialize an empty dictionary to store the feature counts
    feature_counts = {}

    # Iterate over each feature
    for feature in features:
        # Initialize an empty list to store the occurrence counts for the feature
        counts = []

        # Iterate over each comment
        for comment in comments:
            # Count the occurrences of the feature in the comment
            count = comment.count(feature)
            # Append the count to the list
            counts.append(count)

        # Store the list of counts in the feature_counts dictionary
        feature_counts[feature] = counts

    # Create a DataFrame from the feature_counts dictionary
    df = pd.DataFrame(feature_counts)

    # Return the DataFrame
    return df

In [43]:
B=[]
for i in L:
    B.append(i[0])

In [49]:
C=list(df3['text'])

In [52]:
create_feature_occurrence_table(C,B)

,israel,gaza,palestine,ukraine,hamas,day,people,russia,child,killed,...,fire,taken,area,ago,going,keep,unrwa,shot,loved,injured
0,2,1,2,0,0,4,0,2,2,2,...,0,0,0,0,0,0,0,0,0,0
1,2,1,3,0,2,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,1,2,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,2,2,2,0,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1,4,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4770,4,0,2,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4771,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4772,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4773,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4774,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0