In [1]:
import pandas as pd

# Charger le fichier CSV dans un DataFrame
df = pd.read_csv('Palestine-Israel_tweets_cleaned.csv')

# Afficher les premières lignes du DataFrame pour vérification
df

,Unnamed: 0,profile_id,comments,likes,quotes,retweets,year,month,day,israel,...,hear,source,weapon,statement,camp,sexual,near,fight,sentiment_polarity,sentiment
0,0,1712776952593924096,3,5,0,1,2023,10,16,2,...,0,0,0,0,0,0,0,0,0.000000,0
1,1,1712776952593924096,0,0,0,0,2023,10,16,2,...,0,0,0,0,0,0,0,0,0.400000,1
2,2,1712776952593924096,1,1,0,0,2023,10,16,0,...,0,0,0,0,0,0,0,0,-0.400000,-1
3,3,1712776952593924096,0,2,0,0,2023,10,16,2,...,0,0,0,0,0,0,0,0,0.500000,1
4,4,1712776952593924096,0,0,0,1,2023,10,16,1,...,0,0,0,0,0,0,0,0,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4770,4770,1752382749153927168,608,11402,133,3209,2023,10,7,4,...,0,0,0,1,0,0,0,0,0.114286,1
4771,4771,1714526492258975744,2,14,0,3,2023,10,7,0,...,0,0,0,0,0,0,0,0,0.000000,0
4772,4772,1714526492258975744,3,19,0,5,2023,10,7,1,...,0,1,0,0,0,0,0,0,0.000000,0
4773,4773,1714526492258975744,0,5,0,0,2023,10,7,0,...,0,0,0,0,0,0,0,0,0.175000,1
4774,4774,1714526492258975744,1,4,0,0,2023,10,7,0,...,0,0,0,0,0,0,0,0,-0.206250,-1

In [3]:
from sklearn.model_selection import train_test_split


X = df.drop(['sentiment_polarity','sentiment','Unnamed: 0'],axis = 1)
y = df['sentiment']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [6]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier




clf = RandomForestClassifier(n_estimators=10, max_depth=None,min_samples_split=2, random_state=0)
scores = cross_val_score(clf, X, y, cv=5)
scores.mean()

0.4707853403141361

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report



# Initializing the Logistic Regression model
model = LogisticRegression()

# Training the model
model.fit(X_train, y_train)

# Making predictions on the test set
predictions = model.predict(X_test)

# Evaluating the model
accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", accuracy)

# Printing classification report
print("Classification Report:")
print(classification_report(y_test, predictions))

Accuracy: 0.48795811518324606
Classification Report:
              precision    recall  f1-score   support

          -1       0.00      0.00      0.00       190
           0       0.49      1.00      0.66       466
           1       0.00      0.00      0.00       299

    accuracy                           0.49       955
   macro avg       0.16      0.33      0.22       955
weighted avg       0.24      0.49      0.32       955

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\HP\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\HP\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))