In [2]:
import pandas as pd

from sklearn.model_selection import train_test_split

import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv("data.csv")

In [4]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [5]:
df2 = pd.get_dummies(df,columns=['Gender'],dtype=int)

In [6]:
df2

      User ID  Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0    15624510   19            19000          0              0            1
1    15810944   35            20000          0              0            1
2    15668575   26            43000          0              1            0
3    15603246   27            57000          0              1            0
4    15804002   19            76000          0              0            1
..        ...  ...              ...        ...            ...          ...
395  15691863   46            41000          1              1            0
396  15706071   51            23000          1              0            1
397  15654296   50            20000          1              1            0
398  15755018   36            33000          0              0            1
399  15594041   49            36000          1              1            0

[400 rows x 6 columns]

In [7]:
X = df2[['Age','EstimatedSalary','Purchased','Gender_Female','Gender_Male']]
X = df2.drop(['User ID','Purchased'],axis=1)
Y = df2['Purchased']

In [8]:
X

     Age  EstimatedSalary  Gender_Female  Gender_Male
0     19            19000              0            1
1     35            20000              0            1
2     26            43000              1            0
3     27            57000              1            0
4     19            76000              0            1
..   ...              ...            ...          ...
395   46            41000              1            0
396   51            23000              0            1
397   50            20000              1            0
398   36            33000              0            1
399   49            36000              1            0

[400 rows x 4 columns]

In [9]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [10]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

In [11]:
hiba = LogisticRegression()
Haytam = RandomForestClassifier()
model = SVC()

In [12]:
model.fit(X_train,Y_train)

SVC()

In [13]:
Y_pred = model.predict(X_test)

In [14]:
Y_pred

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [15]:
pd.DataFrame(data={"Y_test":np.array(Y_test),"Y_pred":np.array(Y_pred)})

    Y_test  Y_pred
0        0       0
1        1       0
2        0       0
3        1       0
4        0       0
..     ...     ...
75       0       0
76       1       0
77       0       0
78       0       0
79       0       0

[80 rows x 2 columns]

In [16]:
model.score(X_test,Y_test)

0.7625

In [17]:
hiba.fit(X_train,Y_train)

LogisticRegression()

In [18]:
Y_pred = hiba.predict(X_test)

In [19]:
hiba.score(X_test,Y_test)

0.6875

In [20]:
accuracy_score(Y_pred,Y_test)

0.6875

In [21]:
Haytam.fit(X_train,Y_train)

RandomForestClassifier()

In [22]:
Y_pred = Haytam.predict(X_test)

In [23]:
accuracy_score(Y_pred,Y_test)

0.8875